body {
    background-color: #353f46;
    display: flex;
    justify-content: center;
}

.App {
    margin-top: 20px;
    text-align: center;
    background-color: #353f46;
    display: flex;
    justify-content: center;
    border: 2px solid #61dafb;
    border-radius: 5px;
    width: auto;
}

.AppButton {
    display: flex;
    justify-content: center;
    border: 2px solid #61dafb;
    border-radius: 5px;
    padding: 10px;
    width: auto;
    background-color: #353f46;
    margin: 10px;
}

.buttonClass {
    background-color: #61dafb;
    border-radius: 5px;
    border: 2px solid #61dafb;
    margin-right: 10px;
    padding: 3px 7px 0px 7px;
    color: #353f46;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;

}
.numberClass {
    background-color: #61dafb;
    border-radius: 5px;
    border: 2px solid #61dafb;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #353f46;
}

.buttonClassOff{
    background-color: #61dafb;
    border-radius: 5px;
    border: 2px solid #61dafb;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    color: red;
}
.disableBtn{
    background-color: #3e7d8d;
    border-radius: 5px;
    border: 2px solid #3e7d8d;
    margin-right: 10px;
    padding: 3px 7px 0px 7px;
    color: #353f46;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}
.span-box{
    background-color: green;
    border: 2px solid black;
    height: 6px;
    width: 16px;
}


.appContainer {
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px; /* Расстояние между строками */
}

.inputContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px; /* Расстояние между элементами */
    align-items: center; /* Выравнивание по вертикали */
}
.inputContainer p {
    color: #61dafb;
    font-weight: bold;
    margin-left: 5px;
}
.inputContainer input {
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid #61dafb;
    margin: 20px;
}


.inputContainerError {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px; /* Расстояние между элементами */
    align-items: center; /* Выравнивание по вертикали */
}
.inputContainerError p {
    color: red;
    font-weight: bold;
    margin-left: 5px;
}
.inputContainerError input {
    color: red;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid red;
    margin: 20px;
    background: #ea8c8c;
}